:root{
    --primary-color: #6f6f6f;
    --secondary-color: #080564;
    --accent1-color: #e98512;
    --accent2-color: #00fd15 ; 

     --heading-font: 'Halant', serif;
     --paragraph-font: 'Nunito Sans', Sans-serif;

}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: var(--accent1-color);
    color: aliceblue;
    height: 20%;
}

header img {
    width: 70%;
    height: auto;
}

nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    font-weight: bolder;  
}

body {
    font-family: var(--paragraph-font);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
}
a {
text-decoration:none ;
}

header, main, footer{
    max-width: 1000px;
    margin: 0 auto;
}

.hero{
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(255,255,2555, 0.4);
    color: var(--secondary-color);
    padding: 1rem;
    font-size: 3em;
    width:100%;
    text-align: center;
}


.hero article {
    background-color: rgba(0, 0, 255, 0.2);
    position: absolute;
    top: 20%;
    left: 2rem;
    right: 2rem;
    height: 30%;
    margin: 2%;
    
}

.hero article img {
    float: right;
    margin: 2rem;
    width: 20rem;
    height: 80%;

}

.hero article p {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 500;
}

#history{
padding: 40px;
background-color: #6f6f6f;
}

.history-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.history-container img {
    width: 100%;
    border-radius: 8px;
}

.history-container p {
    font-size: 1.2rem;
    line-height: 1.5;
}

#advventure {
    padding: 40px;
    text-align: center;
    background-color: aliceblue;
}

.adventure-gallary {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.adventure-gallary figure {
    flex: 1;
    max-width: 18%;
    text-align: center;
}

.adventure-gallary img {
    width: 100%;
    height: auto;
    border-radius: 8%;
    transition: transform 0.3s ease-in;
}

.adventure-gallary img:hover {
    transform: scale(1.05);
}

.adventure-gallary figcaption {
    margin-top: 8px;
    font-weight: bold;
    color: #000;
}

footer {
    display: flex;
    border-top: 20px 30px;
}
    
.social {
    grid-column: 2;
    justify-self: flex-end;
    position: relative;
    display: flex;
    gap: 15px;

}

.social img {
    width: 3em; 
    
}